@let time = lastBackupTime();
<header bt>
  <nav>
    <a href="/" bt-logo>Postgres Backup Tool</a>
    <div class="selected-database">
      @if (databaseName()) {
      <button bt bt-dropdown popovertarget="dropdown-menu-popover">
        {{ databaseName() }}
        <svg></svg>
      </button>
      <div popover bt id="dropdown-menu-popover">
        <ul bt-dropdown-menu>
          @for(database of databases(); track database.name) {
          <li>
            <a routerLink="/database/{{ database.name }}">{{ database.name }}</a>
          </li>
          }
        </ul>
      </div>
      @if (time) {
      <h3 bt>
        Last backup <span bt-badge>{{ time | relativeTime }}</span>
      </h3>
      } }
    </div>
  </nav>
</header>
<main bt>
  <router-outlet></router-outlet>
  <section bt-notifications></section>
</main>
