@if (loading()) {
<div role="progressbar" bt></div>
} @else {
<h2 bt>
  Records <span bt-badge>{{ totalRowCount() }}</span>
</h2>
<div class="tables">
  <h2 bt>
    Tables <span bt-badge>{{ tables()?.length }}</span>
  </h2>
  @if (tables()?.length) {
  <table bt>
    <thead>
      <tr>
        <th>Name</th>
        <th bt-center-align>Records</th>
      </tr>
    </thead>
    <tbody>
      @for (table of tables(); track table.name) {
      <tr>
        <td bt-highlighted bt-no-wrap>{{ table.name }}</td>
        <td bt-center-align>{{ table.rowCount }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
}
