@if (loading()) {
<div role="progressbar" bt></div>
} @else {
<h2 bt>
  Databases <span bt-badge>{{ databases()?.length }}</span>
</h2>
@if (databases()?.length) {
<table bt id="backups">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th bt-center-align>Tables</th>
      <th bt-center-align>Records</th>
      <th bt-center-align>Backups</th>
      <th bt-right-align>Last backup</th>
    </tr>
  </thead>
  <tbody>
    @for (database of databases(); track database.name) {
    <tr (click)="selectDatabase(database)">
      <td bt-row-selector></td>
      <td bt-no-wrap bt-now-wrap bt-highlighted>{{ database.name }}</td>
      <td bt-no-wrap bt-center-align>{{ database.tablesCount }}</td>
      <td bt-no-wrap bt-center-align>{{ database.totalRowCount }}</td>
      <td bt-no-wrap bt-center-align>{{ database.backupsCount }}</td>

      <td
        bt-no-wrap
        bt-right-align
        bt-text
        [attr.bt-green]="!olderThenOneDay(database.lastBackupTime) ? '' : null"
        [attr.bt-red]="olderThenOneDay(database.lastBackupTime) ? '' : null"
      >
        @if (database.lastBackupTime)
        {{{ database.lastBackupTime | relativeTime }}}@else { — }
      </td>
    </tr>
    }
  </tbody>
</table>
<div class="backup">
  <h2 bt>Backup</h2>
  <label bt
    >Retention period (days)<input
      type="number"
      [(ngModel)]="retentionPeriod"
      min="1"
      max="356"
      step="1"
  /></label>
  <section>
    <button bt [disabled]="processing()" (click)="createBackup()">
      Backup
    </button>
  </section>
</div>
<div>
  <button bt bt-red [disabled]="processing()" (click)="cleanupBackups()">
    Cleanup
  </button>
</div>
} }
