@if (databases.isLoading()) {
<div role="progressbar" bt></div>
} @else {
<div class="backup-actions">
  <button bt [disabled]="processing()" (click)="backup()">Backup</button>
  <button
    bt
    bt-dropdown
    [disabled]="processing()"
    popovertarget="backup-options-popover"
    aria-label="More backup options"
  >
    <svg></svg>
  </button>
  <div popover bt id="backup-options-popover" #backupOptionsPopover>
    <ul bt-dropdown-menu>
      <li>
        <a (click)="smartBackup(); backupOptionsPopover.hidePopover()"
          >Backup if needed</a
        >
      </li>
    </ul>
  </div>
</div>
<h2 bt>
  Databases <span bt-badge>{{ databases.value()?.length }}</span>
</h2>
@if (databases.value()?.length) {
<table bt id="backups">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th bt-center-align>Tables</th>
      <th bt-center-align>Records</th>
      <th bt-center-align>Files</th>
      <th bt-center-align>Backups</th>
      <th bt-right-align>Last backup</th>
    </tr>
  </thead>
  <tbody>
    @for (database of databases.value(); track database.name) {
    <tr (click)="selectDatabase(database)">
      <td bt-row-selector></td>
      <td bt-no-wrap bt-now-wrap bt-highlighted>{{ database.name }}</td>
      <td bt-no-wrap bt-center-align>{{ database.tablesCount }}</td>
      <td bt-no-wrap bt-center-align>{{ database.totalRowCount }}</td>
      <td bt-no-wrap bt-center-align>{{ database.fileCount }}</td>
      <td bt-no-wrap bt-center-align>{{ database.backupsCount }}</td>

      <td
        bt-no-wrap
        bt-right-align
        bt-text
        [attr.bt-green]="!olderThenOneDay(database.lastBackupTime) ? '' : null"
        [attr.bt-red]="olderThenOneDay(database.lastBackupTime) ? '' : null"
      >
        @if (database.lastBackupTime)
        {{{ database.lastBackupTime | relativeTime }}}@else { — }
      </td>
    </tr>
    }
  </tbody>
</table>
} }
