@if (databaseName()) {
<button mat-button [matMenuTriggerFor]="dbMenu">
  {{ databaseName() }}
</button>
<mat-menu #dbMenu="matMenu">
  @for(database of databases.value(); track database.name) {
  <a mat-menu-item routerLink="/database/{{ database.name }}">
    {{ database.name }}
  </a>
  }
</mat-menu>
@let time = lastBackupTime.value();
<h3 class="last-backup">
  Last backup
  <span
    class="badge"
    [class.green]="time && !olderThenOneDay(time)"
    [class.red]="olderThenOneDay(time)"
    >@if (time) {{{ time | relativeTime }}} @else { — }</span
  >
</h3>
}
<button class="avatar" [matMenuTriggerFor]="profileMenu">
  {{ profile()?.initials }}
</button>
<mat-menu #profileMenu="matMenu">
  <span class="profile-name">
    {{ profile()?.name }}
  </span>
</mat-menu>
