@if (databaseName()) {
<button mat-button [matMenuTriggerFor]="dbMenu">
  {{ databaseName() }}
</button>
<mat-menu #dbMenu="matMenu">
  @for(database of databases.value(); track database.name) {
  <a mat-menu-item [routerLink]="['/database', database.name]">
    {{ database.name }}
  </a>
  }
</mat-menu>
@let time = lastBackupTime.value();
<p class="last-backup">
  Last backup
  <span
    class="badge"
    [class.green]="time && !olderThenOneDay(time)"
    [class.red]="time && olderThenOneDay(time)"
    >@if (time) {{{ time | relativeTime }}} @else { — }</span
  >
</p>
}
<button class="avatar" [matMenuTriggerFor]="profileMenu">
  {{ profile()?.initials }}
</button>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item disabled>{{ profile()?.name }}</button>
</mat-menu>
